
<div class="row">
	<div class="col-6 text-center">
		<p class="h4 text-center"><strong>全國財富管理競賽</strong></p>
	</div>
	<div class="col-6 text-center">
		<p class="h4 text-center"><strong>全國大專財富管理規劃競賽</strong></p>
		<p class="h4 text-center"><strong>全國大專校院北、中、南分區理財規劃案例競賽</strong></p>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<p class="h5 pl-3 pt-2 text-right"><strong>初賽報告</strong></p>
			<table width="100%" border="1" class="h6">
				<tr>
					<td width="20%" class="font-weight-bold text-center">評分項目</td>
					<td width="60%" class="font-weight-bold text-center">評審說明</td>
					<td width="20%" class="font-weight-bold text-center">佔分比例</td>
				</tr>
				<tr>
					<td>報告友善度</td>
					<td>整體報告是否容易檢索、理解、方便閱讀</td>
					<td class="text-center">25%</td>
				</tr>
				<tr>
					<td>假設數據合理性</td>
					<td>必要之基本假設與參考資料是否合理與正確</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td>計算正確性</td>
					<td>財務計算過程是否正確</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td>建議方案廣泛性</td>
					<td>各建議方案是否面面俱到符合客戶需求</td>
					<td class="text-center">25%</td>
				</tr>
				<tr>
					<td>整體執行性</td>
					<td>建議執行步驟與商品之客觀程度</td>
					<td class="text-center">20%</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">合計</td>
					<td class="text-center">100%</td>
				</tr>
			</table>
	</div>

	<div class="col-6">
		<p class="h5 pl-3 pt-2 text-right"><strong>初賽報告</strong></p>
			<table width="100%" border="1" class="h6">
				<tr>
					<td width="20%" class="font-weight-bold text-center">評分項目</td>
					<td width="60%" class="font-weight-bold text-center">評審說明</td>
					<td width="20%" class="font-weight-bold text-center">佔分比例</td>
				</tr>
				<tr>
					<td>報告友善度</td>
					<td>整體報告是否容易檢索、理解、方便閱讀</td>
					<td class="text-center">25%</td>
				</tr>
				<tr>
					<td>假設數據合理性</td>
					<td>必要之基本假設與參考資料是否合理與正確</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td>財務診斷能力</td>
					<td>是否具備診斷客戶生涯財務狀況計算能力(需附上計算數據)</td>
					<td class="text-center">25%</td>
				</tr>
				<tr>
					<td>建議方案廣泛性</td>
					<td>各建議方案是否面面俱到符合客戶需求</td>
					<td class="text-center">20%</td>
				</tr>
				<tr>
					<td>整體執行性</td>
					<td>建議執行步驟與商品之客觀程度</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">合計</td>
					<td class="text-center">100%</td>
				</tr>
			</table>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<p class="h5 pl-3 pt-2 text-right"><strong>決賽咨詢</strong></p>
			<table width="100%" border="1" class="h6">
				<tr>
					<td width="80%" class="font-weight-bold text-center">評分項目</td>
					<td width="20%" class="font-weight-bold text-center">佔分比例</td>
				</tr>
				<tr>
					<td>協助案主瞭解理財各項屬性</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td>協助案主釐清財務目標項目與需求程度</td>
					<td class="text-center">20%</td>
				</tr>
				<tr>
					<td>協助案主揭露財務資訊</td>
					<td class="text-center">20%</td>
				</tr>
				<tr>
					<td>協助案主確認理財進度</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td>咨詢技巧展現</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td>案主是否願意提供書面財務資料</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td class="text-right">合計</td>
					<td class="text-center">100%</td>
				</tr>
			</table>
	</div>

	<div class="col-6">
		<p class="h5 pl-3 pt-2 text-right"><strong>決賽簡報</strong></p>
			<table width="100%" border="1" class="h6">
				<tr>
					<td width="20%" class="font-weight-bold text-center">評分項目</td>
					<td width="60%" class="font-weight-bold text-center">評審說明</td>
					<td width="20%" class="font-weight-bold text-center">佔分比例</td>
				</tr>
				<tr>
					<td rowspan="3">簡報內容</td>
					<td>簡報製作及編排是否具有邏輯性，條理分明</td>
					<td class="text-center">10%</td>
				</tr>
				<tr>
					<td>簡報是否掌握重點</td>
					<td class="text-center">10%</td>
				</tr>
				<tr>
					<td>簡報是否具備親和力</td>
					<td class="text-center">5%</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">合計</td>
					<td class="text-center">25%</td>
				</tr>
			</table>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<p class="h5 pl-3 pt-2 text-right"><strong>決賽報告</strong></p>
			<table width="100%" border="1" class="h6">
				<tr>
					<td width="20%" class="font-weight-bold text-center">評分項目</td>
					<td width="60%" class="font-weight-bold text-center">評審說明</td>
					<td width="20%" class="font-weight-bold text-center">佔分比例</td>
				</tr>
				<tr>
					<td rowspan="2">書面報告內容</td>
					<td>是否具備診斷案主生涯財務狀況計算能力</td>
					<td class="text-center">20%</td>
				</tr>
				<tr>
					<td>案主理解程度(案主評分)</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td rowspan="5">解決方案</td>
					<td>分析與推演是否合理</td>
					<td class="text-center">10%</td>
				</tr>
				<tr>
					<td>總經等參數假設是否合理</td>
					<td class="text-center">5%</td>
				</tr>
				<tr>
					<td>規劃方向是否符合案主需求及價值觀</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td>解決方案中，金融商品的運用能力</td>
					<td class="text-center">20%</td>
				</tr>
				<tr>
					<td>案主執行意願(案主評分)</td>
					<td class="text-center">15%</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">合計</td>
					<td class="text-center">100%</td>
				</tr>
			</table>
	</div>

	<div class="col-6">
		<p class="h5 pl-3 pt-2 text-right"><strong>決賽發表</strong></p>
			<table width="100%" border="1" class="h6">
				<tr>
					<td width="20%" class="font-weight-bold text-center">評分項目</td>
					<td width="60%" class="font-weight-bold text-center">評審說明</td>
					<td width="20%" class="font-weight-bold text-center">佔分比例</td>
				</tr>
				<tr>
					<td rowspan="4">表達力</td>
					<td>口語表達能力</td>
					<td class="text-center">5%</td>
				</tr>
				<tr>
					<td>肢體運用能力</td>
					<td class="text-center">5%</td>
				</tr>
				<tr>
					<td>團隊合作能力</td>
					<td class="text-center">5%</td>
				</tr>
				<tr>
					<td>理解問題能力</td>
					<td class="text-center">5%</td>
				</tr>
				<tr>
					<td>案例發表報告</td>
					<td>評審問答</td>
					<td class="text-center">55%</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">合計</td>
					<td class="text-center">75%</td>
				</tr>
			</table>
	</div>
</div>

